/* Color Palette
 *
 * darkred: #b20f32
 * lightred: #dd0e3b
 * darkviolet: #5e0960
 * lightviolet: #a22ba5
 * grey: #e2e0d9
 */

/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");


@font-face {
    font-family: 'Libertine';
    src: url('linlibertine_rah-webfont.woff2') format('woff2'),
         url('linlibertine_rah-webfont.woff') format('woff'),
         url('LinLibertine_R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Oxygen Mono';
    src: url('oxygen-mono-regular.woff'), url('oxygen-mono-regular.ttf');
}

@font-face {
    font-family: 'Roboto Black';
    src: url('Roboto-Black.ttf');
}

html, body {
    font-family: 'Roboto Black', serif;
    font-size: 32px;
    text-rendering: optimizeLegibility;
}

body {
    display: block;
    position: relative;
    margin: 0px; padding: 0px;
    background: linear-gradient( 90deg, #b20f32, #5e0960 );
    color: #fff;
    min-width: 100%;
    min-height: 100vh;
}

a:link    { color: #00f; text-decoration: none;      }
a:hover   { color: #00f; text-decoration: underline; }
a:visited { color: #00f;                             }

h1 { font-size: 2.0em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.2em; }

b, strong { font-weight: 600; }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

ul, ol {
    list-style: outside disc;
    margin: 0em 0 0 1.5em;
}
ol { list-style: decimal; }
ul, li { margin-bottom: 0.2rem; }

/* text elements layout */
p, ul { margin-bottom: 0.8rem; line-height: 1.3rem; }

.centering { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
               display: flex; flex-direction: column;
               align-items: center; align-content: center; justify-content: space-around; }

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

/* Timetable styles */
.little { font-size: 0.65em; }

.hidden {
    display: none;
    height: 0;
    overflow: hidden;
}

th, td {
    padding: 0.2rem 0.5rem;
    vertical-align: middle;
    line-height: 2em;
}

tr:nth-child(2n) {
    background: #dd0e3b60;
}
tr:nth-child(2n) .special {
    color: #dd0e3b;
    background: #fff;
}
tr:nth-child(2n+1) {
    background: #a22ba560;
}
tr:nth-child(2n+1) .special {
    color: #a22ba5;
    background: #fff;
}
tr.break {
    background: #e2e0d960;
}
tr.break td {
    text-align: center;
}
tr.break td .speakers { display: none; }
td .special { padding: 0 0.5rem; }

header > label { display: none; }
