.login-button {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	background-color: #f0f0f0;
	color: #333;
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
}
.login-button:hover {
	background-color: #a4dbea;
}
